.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    color: #fff;
    padding: 1rem;
    font-family: "danh-da", sans-serif;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.navbar-links{
    display: inline-flex;
    list-style: none;
    gap: 3rem;
    color: #fff;
}

.nav-link {
    color:#fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

.logo-img {
    height: 75px;
    user-select: none;
}